// Customize
@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"), url(assets/Ubuntu/Ubuntu-Regular.ttf) format("truetype");
}

$utensor-blue: #0f91a8;

// Update Bulma's global variables
$link: $utensor-blue;
$primary: $utensor-blue;
$family-primary: "Ubuntu";

// Import only what we need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
