// Customize
@font-face {
  font-family: "Changa";
  src: local("Changa"),
    url(assets/Changa/Changa-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"), url(assets/Ubuntu/Ubuntu-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "NotoSans";
  src: local("NotoSans"),
    url(assets/Noto_Sans/NotoSans-Regular.ttf) format("truetype");
}

$utensor-primary: #0a3d64;
$utensor-secondary: #ddb0a7;
$utensor-blackground-color: hsl(0, 0%, 96%);

// Update Bulma's global variables
$link: $utensor-primary;
$link-hover: $utensor-primary;
$primary: $utensor-primary;
$family-primary: "NotoSans";
$family-secondary: "Ubuntu";
$navbar-background-color: $utensor-blackground-color;

// Import only what we need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
